.tooltip {
    position: relative;
    display: inline-block;
    /* border-bottom: 1px dotted black; */
  }
  
  .tooltip .tooltiptext {
    visibility: hidden;
    width: 350px;
    background-color: #67665a;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 12px 8px;
    position: absolute;
    z-index: 20;
    bottom: 140%;
    right: 50%;
    margin-right: -220px;
  }
  
  .tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #67665a transparent transparent transparent;
  }
  
  .tooltip:hover .tooltiptext {
    visibility: visible;
  }